.idea
/logs
/data
/data/database
/data/database/*
.env
/.project
.docker-sync
/jenkins/jenkins_home

/logstash/pipeline/*.conf
/logstash/config/pipelines.yml

/config/workspace/insecure_id_rsa
u/config/workspace/*.ppk
/config/workspace/*.pub
*.ppk
*.pub

/nginx/ssl/*.crt
/nginx/ssl/*.key
/nginx/ssl/*.csr

/apache2/ssl/*.crt
/apache2/ssl/*.key
/apache2/ssl/*.csr
/apache2/ssl/*.org

/.devcontainer/*
!/.devcontainer/devcontainer.example.json
!/.devcontainer/docker-compose.extend-example.yml

docker-compose.custom.yml


.DS_Store